.h-view {
  width: 100%;
  height: 6.25rem;
  overflow: hidden;
}

.view-img {
  width: 100%;
}

.view-img > img {
  width: 100%;
  vertical-align: top;
}

.view-culomn {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 4.85rem;
  width: 100%;
}

.view-culomn-item {
  text-align: center;
  font-size: 0;
  position: absolute;
  width: 50%;
}

.item-left {
  left: -50%;
  text-align: right;
  animation: leftAnimation 0.5s;
  -webkit-animation: leftAnimation 0.5s; /* Safari 与 Chrome */
  animation-fill-mode: forwards;
}

.item-right {
  right: -50%;
  text-align: left;
  animation: rightAnimation 0.5s;
  -webkit-animation: rightAnimation 0.5s; /* Safari 与 Chrome */
  animation-fill-mode: forwards;
}

.view-show-more {
  position: absolute;
  top: 5.75rem;
  left: 50%;
  margin-left: -0.25rem;
  width: 0.5rem;
}

.view-show-more > img {
  width: 100%;
  vertical-align: top;
}

.view-culomn-col {
  width: 100%;
  font-size: 0;
  margin-top: 0.1rem;
}

.v-btn {
  display: inline-block;
  width: 1.46rem;
  height: 0.28rem;
  font-size: 0.12rem;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  line-height: 0.28rem;
  color: #010000;
  margin: 0 0.12rem;
  font-weight: bold;
  font-family: 'item';
}

@keyframes leftAnimation
{
  from {left: -50%;}
  to {left: 0;}
}

@-webkit-keyframes leftAnimation /* Safari 与 Chrome */
{
  from {left: -50%;}
  to {left: 0;}
}

@keyframes rightAnimation
{
  from {right: -50%;}
  to {right: 0;}
}

@-webkit-keyframes rightAnimation /* Safari 与 Chrome */
{
  from {right: -50%;}
  to {right: 0;}
}

.vux-flexbox-item:nth-child(1) {
  padding-right: 0.04rem;
}

.vux-flexbox-item:nth-child(2) {
  padding-left: 0.02rem;
  padding-right: 0.02rem;
}

.vux-flexbox-item:nth-child(3) {
  padding-left: 0.04rem;
}

.flex-demo {
  width: 100%;
}

.flex-demo .flex-demo-img {
  width: 100%;
}

.flex-demo .flex-demo-img > img {
  width: 100%;
  vertical-align: top;
}

.flex-demo-desc {
  width: 100%;
  text-align: center;
  margin-top: 0.1rem;
}

.flex-demo-desc .flex-demo-name {
  font-size: 0.14rem;
  font-weight: bold;
  margin-bottom: 0.05rem;
}

.flex-demo-desc .flex-demo-describe, .flex-demo-desc .flex-demo-price {
  margin-bottom: 0.05rem;
}


.h-preview {
  /*height: 4.3rem;*/
  /*background: aqua;*/
}

.h-preview img {
  width: 100%;
}

  /** h-sale **/

.h-sale {
  padding: 0.16rem 0.16rem 0 0.16rem;
}

.h-sale img {
  width: 100%;
}

/** h-show-all **/

.h-show-all {
  padding: 0.16rem 0.16rem 0 0.16rem;
}

.h-show-all img {
  width: 100%;
}

/** h-grid **/

.h-grid {
  padding: 0 0.12rem 0.1rem 0.12rem;
}

.g-header {
  height: 0.49rem;
  text-align: center;
  line-height: 0.49rem;
}

.g-header > img {
  width: 100%;
  vertical-align: middle;
}

.gird-item {
  margin-bottom: 0.08rem;
}

.gird-item.p-left {
  padding-right: 0.04rem;
}

.gird-item.p-right {
  padding-left: 0.04rem;
}

.gird-item-cell {
  height: 0.92rem;
  padding: 0.06rem;
  background: rgba(0,0,0,.05);
}

.gird-item-cell .cell-left {
  float: left;
  width: 0.8rem;
  padding-top: 0.18rem;
}

.gird-item-cell .cell-left .cell-p .name {
  font-size: 0.14rem;
  margin-right: 0.05rem;
}

.gird-item-cell .cell-left .cell-rate {
  margin-top: 0.05rem;
  text-align: left;

}

.gird-item-cell .cell-right {
  float: left;
  width: 0.73rem;
  height: 0.73rem;
}

.gird-item-cell .cell-right > img {
  width: 100%;
  vertical-align: top;
}

  /**
    h-section
   */
.h-section {
  width: 100%;
}

.h-section img {
  width: 100%;
}
/*.sec-cell {*/
  /*width: 100%;*/
  /*height: 1.14rem;*/
  /*background: #000;*/
  /*border-bottom: 2px solid #161616;*/
/*}*/
